<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.1">

    <display-name>Car Service and Maintenance Tracker</display-name>

    <!-- RegisterServlet Mapping -->
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>

    <!-- LoginServlet Mapping -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <!-- LogoutServlet Mapping -->
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>

    <!-- VehicleServlet Mapping -->
    <servlet>
        <servlet-name>VehicleServlet</servlet-name>
        <servlet-class>servlet.VehicleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VehicleServlet</servlet-name>
        <url-pattern>/VehicleServlet</url-pattern>
    </servlet-mapping>

    <!-- ServiceServlet Mapping -->
    <servlet>
        <servlet-name>ServiceServlet</servlet-name>
        <servlet-class>servlet.ServiceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServiceServlet</servlet-name>
        <url-pattern>/ServiceServlet</url-pattern>
    </servlet-mapping>

    <!-- AdminServlet Mapping -->
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>servlet.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>

    <!-- DeleteUserServlet Mapping -->
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>servlet.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/DeleteUserServlet</url-pattern>
    </servlet-mapping>

    <!-- Welcome Page -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>